*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Common Class */
.btn{
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
}
.container{
    max-width: 1360px;
    margin: 0px auto;
}

/* Nav strat */
nav{
    max-width: 1600px;
    max-height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;  
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
nav ul a{
    text-decoration: none;
    color: black;
}

.banner{
    /* max-width: 1600px; */
    height: 100vh;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.banner-content{
    align-items: center;
    text-align: center;
    margin: 0px auto;
    text-align: center;
    padding: 115px 120px 100px;
    max-width: 1360px;
    /* position: absolute; */
    /* top: 150px; */
    /* left: 200px; */
}
.circle{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    color: #30B868;
}
.now-open{
    width: 244px;
    height: 84px;
    border-radius: 50%;
    background-color: white;
    color: #30B868;
}
.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #ffffff;
    margin-bottom: 16px;
}
.banner-content h1 span{
    color: #30B868;
}
.banner-content p{
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin-bottom: 32px;
}
.banner-content .btn-white{
    background: none;
    border: 1px solid white;
    margin-left: 16px;
}

/* Node section */
#node{
    margin-bottom: 120px;
}

.node-heading{
    text-align: center;
    margin-bottom: 44px;
}
.node-heading h2{
    margin-top: 50px;
    font-size: 48px;
    color: #001931;
    font-weight: bold;
}
.node-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.node-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.card{
    padding: 24px;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000006;
    max-width: 322px;
    max-height: 300px;
    border: 2px solid red;
}
.card .icon{
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    color: white;
    margin: 0 auto;
    position: relative;
}
.icon img{
    width: 32px;
    height: 32px;
    text-align: center;
    align-items: center;
}
.card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 28px;
    color: #627382;
}

/* brain section */
#brain{
    margin-bottom: 120px;
}
.brain{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.brain .brain-title{
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    line-height: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.brain-info h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.brain-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-info ul{
    list-style: none;
}
.brain-info ul li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    align-items: center;
}
.brain-info ul li img{
    height: 20px;
    width: 20px;
    margin-right: 6px;
    /* line-height: 20px; */
    /* margin-bottom: 16px; */
    align-items: center;
}