*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Common Class */
.btn:hover{
    background: none ;
    color: #30B868;
    border: 2px solid #30B868;
}
.btn{
    cursor: pointer;
    background-color: #30B868;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    margin: 0px auto;
    gap: 10px;
}
.container{
    /* width: 85%; */
    max-width: 1360px;
    margin: 0px auto;
}

/* Nav strat */
nav{
    max-width: 1600px;
    max-height: 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;  
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
nav ul a{
    text-decoration: none;
    color: black;
}

.banner{
    /* max-width: 1600px; */
    height: 100vh;
    background: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.banner-content{
    align-items: center;
    text-align: center;
    margin: 0px auto;
    text-align: center;
    padding: 115px 120px 100px;
    max-width: 1360px;
    /* position: absolute; */
    /* top: 150px; */
    /* left: 200px; */
}
.dot{
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #2f8f5b;
    box-shadow: 0 0 0 5px rgba(47, 143, 91, 0.25);
}
.open{
    font-size: 16px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 8px 12px;
    text-align: center;
    max-width: 265px;
    height: 45px;
    border-radius: 50px;
    background-color: white;
    color: #30B868;
}
.banner-content h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #ffffff;
    margin-bottom: 16px;
}
.banner-content h1 span{
    color: #30B868;
}
.banner-content .banner-p{
    font-size: 18px;
    line-height: 28px;
    color: white;
    margin-bottom: 32px;
}
.banner-btn{
    margin: 0 auto;
    max-width: 465px;
    max-height: 52px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.banner-content .btn-white{
    background: none;
    border: 1px solid white;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.banner-content .btn-white:hover{
    background-color: #2f8f5b;
    color: white;
    border: 2px solid #2f8f5b;
    transition: all 0.8;
}

/* Node section */
#node{
    margin-bottom: 120px;
}

.node-heading{
    text-align: center;
    margin-bottom: 44px;
}
.node-heading h2{
    margin-top: 50px;
    font-size: 48px;
    color: #001931;
    font-weight: bold;
}
.node-heading p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

.node-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.card{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000006;
    max-width: 322px;
    height: 300px;
    box-shadow: 0 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card .card-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F95555;
    color: white;
    margin: 0 auto;
    position: relative;
    margin-bottom: 16px;
}

.card h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    line-height: 28px;
    color: #627382;
}

/* brain section */
#brain{
    margin-bottom: 120px;
}
.brain{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.brain .brain-title{
    font-size: 16px;
    font-weight: 600;
    color: #30B868;
    line-height: 20px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.brain-info h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.brain-info p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.brain-info ul{
    list-style: none;
}
.brain-info ul li{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 16px;
    align-items: center;
}
.brain-info ul li img{
    height: 20px;
    width: 20px;
    margin-right: 6px;
    /* line-height: 20px; */
    /* margin-bottom: 16px; */
    align-items: center;
}
/* Get Early Access Section */

.early-access{
    background-color: #F7F6F2;
    text-align: center;
    align-items: center;
    border-radius: 12px;
    margin-bottom: 120px;
    padding: 80px 40px;
}
.title{
    width: 1280px;
}
.early-access h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.early-access p{
    font-size: 16px;
    color: #627382;
    line-height: 24px;
    margin-bottom: 24px;
}
.early-access-btn p{
    margin-top: 16px;
}
footer{
    background-color: #001931;
    padding: 120px 120px 30px;
    text-align: center;
    color: #FAFAFA;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer h5{
    font-size: 20px;
    font-weight: 500;
}
.icons{
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    gap: 16px;
    width: 20px;
    height: 20px;
    margin-right: 16px;
    color: white;
}